<html>
<head>
    <title>图书信息管理</title>
</head>
<body>
    <a href="/create/">创建</a>
    <a href="/login_ajax">ajax登录</a>
    <a href="/test_ajax">ajax测试页面</a>
    <a href="/show_upload">显示上传照片</a>
    <a href="/areas">显示地区三级选择</a>
    <ul>
        {%for book in list%}
            <li><a href="/detail/{{ book.id }}">{{ book.btitle }}</a>--<a href="/delete{{book.id}}/">删除</a></li>
        {%endfor%}
    </ul>
    <hr>
    显示页码信息：当前页码没有链接，其它页码有链接<br>
    {%for pindex in plist%}
        {%if pIndex == pindex%}
            {{pindex}}&nbsp;&nbsp;
        {%else%}
            <a href="/{{pindex}}">{{pindex}}</a>&nbsp;&nbsp;
        {%endif%}
    {%endfor%}
</body>
</html>